/* positioning styling for the map body */
.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* styling for popups containing the number of collisions */
.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 1;
    width: 180px;
    background-color: #ceffce;
    text-align: center;
}

/* styling for the legend and its contents */
.legend {
    position: absolute;
    background-color: #ceffce;
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgba(34, 26, 26, 0.533);
    /*horizontal shadow, vertical shadow, size of shadow, color*/
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 20px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

/* styling for interactivity menu*/
.map-overlay-search {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #ceffce;
    top: 15;
    left: 15;
    width: 260px;
    margin: 10px 0 0 10px;
    padding: 10px;
    /*around elements inside of overlay*/
    overflow: visible;
    border-radius: 10px;
}

/* styling for the hexgrid toggle button when idle or being hovered over*/
.menu {
    background: #fff;
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/*created a textbox that will display the median income*/
.textbox {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #ceffce;
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
    text-align: center;
}